[Unit]
Description=healthcheck_http
Wants=network-online.target
After=network-online.target

[Service]

Environment="ELASTICSEARCH_HOST={{ data_output_host }}"
Environment="TARGET_HOST={{ probes[0].configuration.targets[0] }}"
ExecStart=/home/{{ ansible_user }}/healthcheck_http/run.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
