[Unit]
Description=metricbeat_postgresql_10
Wants=network-online.target
After=network-online.target

[Service]

Environment="BEAT_LOG_OPTS=-e"
Environment="BEAT_CONFIG_OPTS=-c /home/{{ ansible_user }}/metricbeat_postgresql_10/metricbeat.yml --strict.perms=false"
Environment="BEAT_PATH_OPTS=-path.home /home/{{ ansible_user }}/metricbeat_postgresql_10 -path.config /home/{{ ansible_user }}/metricbeat_postgresql_10 -path.data /home/{{ ansible_user }}/metricbeat_postgresql_10 -path.logs /home/{{ ansible_user }}/metricbeat_postgresql_10"
ExecStart=/home/{{ ansible_user }}/metricbeat_postgresql_10/metricbeat $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
