
metricbeat.modules:
- module: system
  metricsets:
  - cpu
  enabled: true
  period: 20s
  processes: ['.*']
  cpu.metrics: ["percentages", "normalized_percentages"]
reload.enabled: false
output.elasticsearch:
  hosts: ['{{ data_output_host }}:${ELASTICSEARCH_PORT:9200}']
