
metricbeat.modules:
- module: postgresql
  metricsets:
  - database
  enabled: true
  period: 20s
  hosts: ["postgres://localhost:5432/varys"]
  username: varys
  password: varys
reload.enabled: false
output.elasticsearch:
  hosts: ['{{ data_output_host }}:${ELASTICSEARCH_PORT:9200}']
