[Unit]
Description=metricbeat_memory_6
Wants=network-online.target
After=network-online.target

[Service]

Environment="BEAT_LOG_OPTS=-e"
Environment="BEAT_CONFIG_OPTS=-c /home/{{ ansible_user }}/metricbeat_memory_6/metricbeat.yml --strict.perms=false"
Environment="BEAT_PATH_OPTS=-path.home /home/{{ ansible_user }}/metricbeat_memory_6 -path.config /home/{{ ansible_user }}/metricbeat_memory_6 -path.data /home/{{ ansible_user }}/metricbeat_memory_6 -path.logs /home/{{ ansible_user }}/metricbeat_memory_6"
ExecStart=/home/{{ ansible_user }}/metricbeat_memory_6/metricbeat $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
