
metricbeat.modules:
- module: system
  metricsets:
  - memory
  enabled: true
  period: 20s
  processes: ['.*']
reload.enabled: false
output.elasticsearch:
  hosts: ['{{ data_output_host }}:${ELASTICSEARCH_PORT:9200}']
